/* -------Home----------*/

/* Mobile */

.home {
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1.4em;
    display: flex;
    flex-direction: column;
}

.primary-header {
    justify-content:space-between;
    align-items: center;
}

nav {
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-500);

}

.hmb-btn {
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
}

.header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.hero-text  h1 {
    margin: 0;
    padding: .2em 0;
}

.large-button {
    margin: 0 auto;
    cursor: pointer;
    
}

/* Tablet */

@media (min-width: 809px) {
    .home {
        background-image: url(./assets/home/background-home-tablet.jpg);
    }

    .primary-navigation {
        display: flex;
        flex-direction: row;
        --gap: 1em;
        background: transparent;
        padding: 0 2em;
        background:hsl( var(--clr-light) / .1);
    }

    nav {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;

    }

    .hmb-btn {
        display: none;
    }  

    .primary-navigation * span {
        display: none;
    }

    .hero-text {
        margin: 1em auto;
        padding: 1em 0;
    }
    
    .hero-text > h4 {
        font-size: var(--fs-500);
    }

    .hero-text > h1 {
        margin: 0;
        padding: .1em 0;
        font-size: var(--fs-900);
    }

    .hero-text > p {
        font-size: var(--fs-500);
    }
    
    .large-button {
        padding: 3em;
        margin: 0 auto;
        cursor: pointer;
    }
}

/* Deskotp */

@media (min-width: 1200px) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
    
    
    .primary-navigation {
        background:hsl( var(--clr-light) / .1);
        --gap: 2.6em;        
        padding: 0 2em;
    }
    .primary-navigation * span {
        display: inline-block;
    }
    .header-container {
        display: grid;
        grid-template-columns: 2em 1fr 1fr 2em;
        grid-gap: 2em;
    }
        
    .hero-text {
        grid-column: 2/3;
        margin: 0 auto;
    }

    .large-button {
        grid-column: 3/4;
        padding: 0 4em;
    }
}

@media (min-width: 1500px) {
    .primary-navigation {
        --gap: 4em;
        padding: 0 5em;
    }
}

@media (min-width: 1800px) {
    .primary-navigation {
        background:hsl( var(--clr-light) / .1);
        --gap: 4.3em;
        padding: 0 4em;
    }    
    .line {
        
        height: .1rem;
        background: hsl( var(--clr-white) / .2);
        width: 20%;
        left: 10%;
        z-index: 9999;
    }
}

@media (min-width: 2100px) {
    .primary-navigation {
        --gap: 6.5em;
        padding: 0 5.5em;
    }
}